{{ define "download" }}

<html>
	<head>
		<title>Download Page</title>
	</head>
	<body>
		<a href="/">home</a>|<a href="/upload">upload</a>|<a href="/download">download</a>|<a href="/status">status</a>
		<br />
		<br />
		<br />
		<a href="/download/start">start</a>|<a href="/download/start">stop</a>
	</body>
</html>

{{ end }}