{{ define "index" }}

<html>
	<head>
		<title>Index Page</title>
	</head>
	<body>
		<a href="/">home</a>|<a href="/upload">upload</a>|<a href="/download">download</a>|<a href="/status">status</a>
	</body>
</html>

{{ end }}