{{ define "status" }}

<html>
	<head>
		<title>Status Page</title>
	</head>
	<body>
		<a href="/">home</a>|<a href="/upload">upload</a>|<a href="/download">download</a>|<a href="/status">status</a>
		<br />
		<br />
		<br />
		<h1>completed: {{ . }}</h1>
	</body>
</html>

{{ end }}