{{ define "upload" }}

<html>
	<head>
		<title>Upload Page</title>
	</head>
	<body>
		<a href="/">home</a>|<a href="/upload">upload</a>|<a href="/download">download</a>|<a href="/status">status</a>
		<br />
		<br />
		<br />
		<form action="/upload/process" method="post" enctype="multipart/form-data">
			<input name="file" type="file" id="file">
			<input name="submit" type="submit" value="Upload">
		</form>
	</body>
</html>

{{ end }}